<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /sun-planner/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /sun-planner/index.html [L]
</IfModule>
