# Application Configuration
PORT=3333
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Local SQL Server Database Configuration
DB_HOST=127.0.0.1
DB_PORT=1433
DB_USER=sa
DB_PASS=Your_password123
DB_NAME=sun_planner

# Oracle Integration ERP Configuration (Optional defaults)
ORACLE_DB_USER=apps
ORACLE_DB_PASS=apps
ORACLE_DB_HOST=172.25.10.12
ORACLE_DB_PORT=1522
ORACLE_DB_SERVICE=PROD
